<p style="color: green"><%= notice %></p>

<% content_for :title, "Categoria" %>

<h1>Categoria</h1>

<div id="categoria">
  <% @categoria.each do |categorium| %>
    <%= render categorium %>
    <p>
      <%= link_to "Show this categorium", categorium %>
    </p>
  <% end %>
</div>

<%= link_to "New categorium", new_categorium_path %>
